 .start-screen {
    padding: 5%;
 }
 .start-screen input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
  }
  
  .start-screen .button-style {
    width: 100%;
  }
  
  /* Quote styles */
.quote-container {
  width: 80%;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #a8a8a8;
  position: relative;
}

.quote-container::before {
  content: "“";
  font-size: 4rem;
  position: absolute;
  left: 10px;
  top: -10px;
  color: #39ff14;
}

.quote-container::after {
  content: "”";
  font-size: 4rem;
  position: absolute;
  right: 10px;
  bottom: -10px;
  color: #ff4081;
}

.quote-content {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}

.quote-author {
  font-size: 1rem;
  text-align: right;
  margin-top: 1.5rem;
}
